{% from "input/macro.njk" import govukInput %}

{{ govukInput(
{
  "label" : {
    "classes": "doing-something",
    "text": "National Insurance Number",
    "hintText": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.",
    "errorMessage": "Error message goes here"
  },
  "classes": "doing-something"
  "id": "input-1",
  "name": "test-name"
}
) }}
